.about-container {
  width: 100%;
  height: auto;
}

.about-banner {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-banner h2 {
  color: #f4f4f4;
  font-size: 76px;
  text-shadow: 1px 2px 10px #333;
}

.about-content-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.about-content {
  width: 90%;
  height: auto;
  text-align: justify;
}

.about-content p {
  margin-bottom: 10px;
}
.order-btn-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.order-btn {
  background: #d03621;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  padding: 15px 80px;
  font-size: 16px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.order-btn:hover {
  background: #211716;
}

@media screen and (min-width: 200px) and (max-width: 800px) {
  .order-btn-container {
    justify-content: center;
  }

  .order-btn {
    padding: 15px 90px;
  }
}
